.hk{
    margin-left: 38px;
}
.ord{
    padding-top: 120px;
    /*height:100vw ;*/
    text-align: center;
}
.ordlist{
    display: flex;
    
    flex-direction: column;
}
.l1{
    display: flex;
    
}
.jk1{
    text-align: center;
    padding: 0px 10px; 
    width: 221px;
    list-style: none;
    border: 1px solid #26261c;
    color: indianred;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}
.list{
    position: absolute;
    display: flex;
    text-align: center;
    justify-content: center;
    padding-left: 300px;
    
}
.ord2{
    margin-left: 260px;
    position: relative;
    margin-top: 73px;
    padding-bottom: 68px;
}
.list li{
    font-weight: 700;
    text-align: center;
    padding: 4px 0px;
    list-style: none;
    border: 1px solid black;
    width: 241px;
    font-size: 20px;
    background: burlywood;
}
.l2{
    list-style: none;
    width: 241px;
    color: cadetblue;
    font-size: 19px;
    font-weight: 500;
    


}
.pt1{
    
    border-bottom: 1px solid black;
}
.l2 li{
    border: none;
    display: flex;

}
.l2 span{
    display: inline-block;
    width: 110px;
}
.lk1{
    flex: 4;
    padding-left: 3px;
}
.lk2{
    flex: 6;
    color: #997121;
}
.part0{
    display: flex;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
